body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #a8e9ef;
  }
  
  .calculator {
    background-color: #999797;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
  }
  
  .display {
    background-color: #222;
    color: #fefefe;
    font-size: 2rem;
    padding: 20px;
    text-align: right;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  .btn {
    padding: 20px;
    font-size: 1.5rem;
    background-color: #f1f1f1;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.zero {
    grid-column: span 2;
  }
  